<#@ template language="C#" debug="True" #>
<#@ output extension="txt" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="Generators\ComparisonSummaryTemplateGenerator.tt" #>
<#
	var summaryGenerator = new DatabaseStructureChangesSummaryGenerator();
	summaryGenerator.Run();
#>
